# {{ ansible_managed }}
[mysqld]
character-set-server = {{ ansilume_db_charset }}
collation-server     = {{ ansilume_db_collation }}
default-storage-engine = InnoDB
innodb_file_per_table = 1
max_connections = {{ ansilume_db_max_connections }}

[client]
default-character-set = {{ ansilume_db_charset }}
